<section class="zima-intro">
    <div class="zima-intro__content">
        <div class="zima-intro__orange-card">
            <h3 class="zima-intro__orange-card-title">
                Эксклюзивное предложение
            </h3>
            <div class="zima-intro__orange-card-text">
                #ЗИМА<br>ПО-РИМСКИ
            </div>

        </div>
        <img src="/images/snowflake-1.webp" alt="" class="zima-intro__snowflake-one">
        <div class="zima-intro__image-card">
            <img src="/images/intro.webp" alt="" class="zima-intro__image">
        </div>
        <div class="zima-intro__purple-card">
            <div class="zima-intro__purple-card-title">
                Получите 100% кешбэк бонусами за рекламу в январе
            </div>
            <div class="zima-intro__purple-card-text">
                Бюджет тот же, а рекламы в два раза больше!
            </div>
        </div>
        <img src="/images/snowflake-2.webp" alt="" class="zima-intro__snowflake-two">
    </div>
</section>