<section class="zima-bonus">
    <div class="zima-bonus__content">
        <h2 class="zima-bonus__heading">
            Как получить бонусы на бесплатную рекламу? <b>— Всё просто:</b>
        </h2>
        <ul class="zima-bonus__list">
            <li class="zima-bonus__list-item">
                <div class="zima-bonus__card">
                    <img src="/images/bonus/1.webp" alt="" class="zima-bonus__card-image">
                    <div class="zima-bonus__card-text">
                        <b>Оставьте заявку</b> или&nbsp;свяжитесь со своим менеджером. Оперативно свяжемся с вами в
                        рабочее время —
                        вы в приоритете!
                    </div>
                </div>
            </li>
            <li class="zima-bonus__list-item">
                <div class="zima-bonus__card">
                    <img src="/images/bonus/2.webp" alt="" class="zima-bonus__card-image">
                    <div class="zima-bonus__card-text">
                        <b>Подтвердите размещение.</b> Ваше «Ок, будем размещаться тут» — и вы в деле
                    </div>
                </div>
            </li>
            <li class="zima-bonus__list-item">
                <div class="zima-bonus__card">
                    <img src="/images/bonus/3.webp" alt="" class="zima-bonus__card-image">
                    <div class="zima-bonus__card-text">
                        <b>Получите 100% кешбэк бонусами.</b> 1 бонус = 1 рубль
                    </div>
                </div>
            </li>
            <li class="zima-bonus__list-item">
                <div class="zima-bonus__card">
                    <img src="/images/bonus/4.webp" alt="" class="zima-bonus__card-image">
                    <div class="zima-bonus__card-text">
                        <b>Выберите поверхности нашей собственной сети</b> для бонусного размещения. И всё-ё-ё! Реклама
                        крутится, охваты мутятся
                    </div>
                </div>
            </li>
        </ul>
        <a href="#" class="zima-bonus__link">
            Оставить заявку
        </a>
    </div>
</section>