<section class="zima-who-can">
    <div class="zima-who-can__content">
        <h2 class="zima-who-can__heading">
            Кто может принять участие в акции?
        </h2>
        <div class="zima-who-can__heading-text">
            Рекламные агентства и федеральные бренды — велком!
        </div>
        <div class="zima-who-can__wrapper">
            <img src="/images/who-can-snowflake.webp" alt="" class="zima-who-can__snowflake">
            <div class="zima-who-can__card">
                <img src="/images/who-can.webp" alt="" class="zima-who-can__card-image">
            </div>
        </div>
    </div>
</section>