<section class="zima-faq">
    <div class="zima-faq__content">
        <img src="/images/faq-snowflake-1.webp" alt="" class="zima-faq__snowflake-one">
        <img src="/images/faq-snowflake-2.webp" alt="" class="zima-faq__snowflake-two">
        <h2 class="zima-faq__heading">
            Алло, вопросы? Да-да, ответы!
        </h2>
        <ul class="zima-faq__list">
            <li class="zima-faq__list-item">
                <div class="zima-faq__accordion">
                    <button class="zima-faq__accordion-btn" type="button">
                        <svg width="13" height="15" viewBox="0 0 13 15">
                            <path
                                d="M3.77229e-09 1.2595C4.07712e-09 0.29138 1.04802 -0.313693 1.88643 0.170366L12.2618 6.16059C13.1002 6.64465 13.1002 7.8548 12.2618 8.33886L1.88643 14.3291C1.04802 14.8131 -3.0482e-10 14.2081 0 13.24L3.77229e-09 1.2595Z" />
                        </svg>
                        <span class="zima-faq__accordion-btn-text">
                            Можно ли перенести бонусы на февраль?
                        </span>
                    </button>
                    <div class="zima-faq__accordion-dropdown">
                        <div class="zima-faq__accordion-dropdown-inner">
                            <div class="zima-faq__accordion-text">
                                Бонусы действуют только в январе 2026 года. Используйте их, чтобы бесплатно разместить
                                рекламу в этом месяце.
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="zima-faq__list-item">
                <div class="zima-faq__accordion">
                    <button class="zima-faq__accordion-btn" type="button">
                        <svg width="13" height="15" viewBox="0 0 13 15">
                            <path
                                d="M3.77229e-09 1.2595C4.07712e-09 0.29138 1.04802 -0.313693 1.88643 0.170366L12.2618 6.16059C13.1002 6.64465 13.1002 7.8548 12.2618 8.33886L1.88643 14.3291C1.04802 14.8131 -3.0482e-10 14.2081 0 13.24L3.77229e-09 1.2595Z" />
                        </svg>
                        <span class="zima-faq__accordion-btn-text">
                            Какие рекламные форматы участвуют в акции?
                        </span>
                    </button>
                    <div class="zima-faq__accordion-dropdown">
                        <div class="zima-faq__accordion-dropdown-inner">
                            <div class="zima-faq__accordion-text">
                                Все рекламные форматы, представленные в собственной сети Медиагруппы «РИМ» — digital
                                и статика. Чтобы получить актуальный список доступных поверхностей, свяжитесь с вашим
                                персональным менеджером или оставьте заявку.
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="zima-faq__list-item">
                <div class="zima-faq__accordion">
                    <button class="zima-faq__accordion-btn" type="button">
                        <svg width="13" height="15" viewBox="0 0 13 15">
                            <path
                                d="M3.77229e-09 1.2595C4.07712e-09 0.29138 1.04802 -0.313693 1.88643 0.170366L12.2618 6.16059C13.1002 6.64465 13.1002 7.8548 12.2618 8.33886L1.88643 14.3291C1.04802 14.8131 -3.0482e-10 14.2081 0 13.24L3.77229e-09 1.2595Z" />
                        </svg>
                        <span class="zima-faq__accordion-btn-text">
                            Как начисляются бонусы?
                        </span>
                    </button>
                    <div class="zima-faq__accordion-dropdown">
                        <div class="zima-faq__accordion-dropdown-inner">
                            <div class="zima-faq__accordion-text">
                                Вы&nbsp;подтверждаете размещение рекламы на&nbsp;любую сумму. Менеджер информирует вас
                                о&nbsp;том,
                                сколько бонусов вы&nbsp;получаете и&nbsp;предлагает адресные программы, на&nbsp;которые
                                их&nbsp;можно
                                потратить. Например, вы&nbsp;покупаете размещение рекламы на&nbsp;1&nbsp;млн
                                ₽&nbsp;и&nbsp;получаете
                                1&nbsp;млн бонусов, которые равны 1&nbsp;млн&nbsp;₽. Этот дополнительный бюджет можно
                                потратить
                                на&nbsp;усиление размещения или на&nbsp;расширение адресной программы.
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="zima-faq__list-item">
                <div class="zima-faq__accordion">
                    <button class="zima-faq__accordion-btn" type="button">
                        <svg width="13" height="15" viewBox="0 0 13 15">
                            <path
                                d="M3.77229e-09 1.2595C4.07712e-09 0.29138 1.04802 -0.313693 1.88643 0.170366L12.2618 6.16059C13.1002 6.64465 13.1002 7.8548 12.2618 8.33886L1.88643 14.3291C1.04802 14.8131 -3.0482e-10 14.2081 0 13.24L3.77229e-09 1.2595Z" />
                        </svg>
                        <span class="zima-faq__accordion-btn-text">
                            Я хочу запустить рекламу, но не знаю, какие конструкции выбрать. Вы мне поможете?
                        </span>
                    </button>
                    <div class="zima-faq__accordion-dropdown">
                        <div class="zima-faq__accordion-dropdown-inner">
                            <div class="zima-faq__accordion-text">
                                Да! Наши менеджеры досконально знают каждый регион и&nbsp;город, в&nbsp;котором
                                работают. Мы&nbsp;предложим вам оптимальную адресную программу под ваши бизнес-задачи
                                и&nbsp;бюджет.
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>