<section class="zima-who-can">
    <div class="zima-who-can__content">
        <h2 class="zima-who-can__heading">
            Кто может принять участие в акции?
        </h2>
        <div class="zima-who-can__heading-text">
            <b>Рекламные агентства и федеральные бренды</b> — велком!
        </div>
        <div class="zima-who-can__wrapper">
            <picture>
                <source srcset="/images/who-can-snowflake-mobile.webp" media="(max-width: 640px)" />
                <img src="/images/who-can-snowflake.webp" alt="" class="zima-who-can__snowflake">
            </picture>
            <div class="zima-who-can__card">
                <img src="/images/who-can.webp" alt="" class="zima-who-can__card-image">
            </div>
        </div>
    </div>
</section>