<section class="zima-rules">
    <div class="zima-rules__content">
        <h2 class="zima-rules__heading">
            Условия простые — <b>охваты большие</b>
        </h2>
        <div class="zima-rules__wrapper">
            <picture>
                <source srcset="/images/zima-rules-x2-mobile.webp" media="(max-width: 640px)" />
                <img src="/images/zima-rules-x2.webp" alt="" class="zima-rules__x2-one">
            </picture>

            <picture>
                <source srcset="/images/zima-rules-x2-2-mobile.webp" media="(max-width: 640px)" />
                <img src="/images/zima-rules-x2-2.webp" alt="" class="zima-rules__x2-two">
            </picture>
            <ul class="zima-rules__list">
                <li class="zima-rules__list-item">
                    <div class="zima-rules__card zima-rules__card--orange">
                        <h3 class="zima-rules__card-title">
                            Срок действия акции
                        </h3>
                        <div class="zima-rules__card-text">
                            1–31 января 2026
                        </div>
                    </div>
                </li>
                <li class="zima-rules__list-item">
                    <div class="zima-rules__card">
                        <h3 class="zima-rules__card-title">
                            Срок подтверждения размещения
                        </h3>
                        <div class="zima-rules__card-text">
                            До 31 января 2026
                        </div>
                    </div>
                </li>
                <li class="zima-rules__list-item">
                    <div class="zima-rules__card">
                        <h3 class="zima-rules__card-title">
                            География
                        </h3>
                        <div class="zima-rules__card-text">
                            Все города присутствия Медиагруппы «РИМ». Бонусное размещение — только на конструкциях
                            собственной сети
                        </div>
                    </div>
                </li>
                <li class="zima-rules__list-item">
                    <div class="zima-rules__card">
                        <h3 class="zima-rules__card-title">
                            В стоимость не входит
                        </h3>
                        <div class="zima-rules__card-text">
                            Разработка, корректировка, адаптация, печать и монтаж рекламного макета
                        </div>
                    </div>
                </li>
                <li class="zima-rules__list-item">
                    <div class="zima-rules__card zima-rules__card--purple">
                        <h3 class="zima-rules__card-title">
                            Правила использования бонусов
                        </h3>
                        <div class="zima-rules__card-text">
                            Бонусы, полученные по акции, можно использовать только на размещение рекламы в январе 2026
                            года. Бонусы не переносятся на другие месяцы и не конвертируется в деньги
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>