<section class="zima-month">
    <div class="zima-month__content">
        <img src="/images/x2.webp" alt="" class="zima-month__x2">
        <div class="zima-month__text-card">
            <h2 class="zima-month__text-card-title">
                Знаем, где выгода зимует
            </h2>
            <div class="zima-month__text-card-text">
                Рекламных форматов много, а суть одна: вы получаете охват за полцены. Запустите мощную кампанию в самый
                волшебный месяц!
            </div>
            <a href="#" class="zima-month__text-card-link">
                Оставить заявку
            </a>
        </div>
        <div class="zima-month__image-card">
            <img src="/images/month.webp" alt="" class="zima-month__image">
        </div>
        <img src="/images/january.webp" alt="" class="zima-month__january">
    </div>
</section>