<section class="zima-contact">
    <div class="zima-contact__content">
        <div class="zima-contact__row">
            <img src="/images/zima-contact-snowflake-1.webp" alt="" class="zima-contact__snowflake-one">
            <div class="zima-contact__text-content">
                <h2 class="zima-contact__heading">
                    Успейте забрать лучшие рекламные поверхности!
                </h2>
                <div class="zima-contact__text">
                    Свяжитесь с вашим менеджером или оставьте заявку по телефону
                </div>
                <a href="tel:+78005513503" class="zima-contact__phone">+7 (800) 551-35-03</a>
            </div>
            <img src="/images/zima-contact-snowflake-2.webp" alt="" class="zima-contact__snowflake-two">
            <div class="zima-contact__image-container">
                <picture>
                    <source srcset="/images/contact-mobile.webp" media="(max-width: 640px)" />
                    <img src="/images/contact.webp" alt="" class="zima-contact__image">
                </picture>
            </div>
        </div>
        <div class="zima-contact__disclaimer">
            Обращаем ваше внимание на то, что данный интернет-сайт, а также вся информация о товарах и ценах,
            представленная на нем, носит исключительно информационный характер и ни при каких условиях не является
            публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации. Для
            получения подробной информации о наличии и стоимости указанных товаров и (или) услуг, пожалуйста,
            обращайтесь к менеджеру сайта с помощью специальной формы связи или по телефону +7 (800) 551-35-03. <a
                href="#">Правила
                акции.</a>
        </div>

    </div>
</section>