<section class="zima-about">
    <div class="zima-about__content">
        <div class="zima-about__image-card">
            <img src="/images/about.webp" alt="" class="zima-about__image">
        </div>
        <div class="zima-about__text-content">
            <h2 class="zima-about__heading">
                Акция, которая <b>удваивает ваш бюджет</b> на размещение
            </h2>
            <div class="zima-about__text">
                Подтвердите размещение в январе на любую сумму и <b>получите 100% кешбэк</b> бонусами на бесплатное
                размещение
                в этом же месяце. Это специальное предложение, которое действует только для вас
            </div>
        </div>
    </div>
</section>