<section class="zima-about">
    <div class="zima-about__content">
        <div class="zima-about__image-card">
            <picture>
                <source srcset="/images/about-mobile.webp" media="(max-width: 640px)" />
                <img src="/images/about.webp" alt="" class="zima-about__image" />
            </picture>
        </div>
        <div class="zima-about__text-content">
            <h2 class="zima-about__heading">
                Акция, которая <b>удваивает ваш бюджет</b> на размещение
            </h2>
            <div class="zima-about__text">
                Подтвердите размещение в январе на любую сумму и <b>получите 100% кешбэк</b> бонусами на бесплатное
                размещение
                в этом же месяце. Это специальное предложение, которое действует только для вас
            </div>
        </div>
        <img src="/images/zima-about-x2.webp" alt="" class="zima-about__x2">
    </div>
</section>